////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$colors: (
  background: rgb(128, 128, 128)
  ,brand: rgb(255, 0, 0)
);

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1200px;
$screen-lg: 1800px;
