////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$colors: (
  background: rgb(4, 14, 22)
  ,brand: rgb(255, 0, 0)
  ,good: rgb(21, 212, 119)
  ,mediocre: rgb(81, 0, 160)
  ,bad: rgb(203, 19, 94)
  ,blue: rgb(115, 150, 166)
  ,dark-blue: rgb(7, 28, 44)
);

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1200px;
$screen-lg: 1800px;
